*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    /* overflow-x: hidden; */
}

html{
    scroll-behavior: smooth;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.page-main{
    scroll-snap-type: y mandatory;
    
}

section{
    scroll-snap-align:center;
    scroll-padding-top: 50px;
}

/* Designing navbar of the website */

.nav-bar{
    width: 100%;
    overflow: hidden;
    padding: 1.5% 2%;
    background-color: #068FFF;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    box-shadow: #068FFF 0px 5px 15px;
}


h3.nav-item{
    width: 30%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

ul.nav-item{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-item li{
    list-style-type: none;
    font-size: 1.4rem;
    font-family: 'Karla', sans-serif;
}

i.logo{
    display: none;
}

@media screen and (max-width: 600px) {

    .nav-bar{
        width: 100%;
    }
    .nav-item li{
      display: none;
    }
    i.logo{
        display: inline-block;
    }
  }
/*Designing the features part of the website*/

section#main{
    padding-bottom: 2%;
    padding-top: 8%;
    background-color: #000000;
}

.carousel-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.carousel-content .content-img{
    width: 50%;
    padding: 2%;
    background-color: #000000;

}

.content-img img{
    width: 700px;
    height: 500px;
}

.carousel-content .content {
    color: white;
    width: 60%;
    padding:0 6%;
}

.content p{
    margin: 2% 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.content p:first-child{
    text-decoration: underline;
}

.content .content-btn{
    padding: 1.5% 4%;
    background-color:#fff;
    font-size: 1.4rem;
    margin: 3% 0;
    margin-right: 4%;
    color:#068FFF;
    border-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 1px 1px 1px #068FFF;
    transition: background-color 0.3s ease-in-out;
}

.content-btn:hover{
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content h3{
    font-family: 'Roboto Slab', serif;
    color: #068FFF;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .carousel-content{
        width: 100%;
        margin-top: 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel-content:first-child{
        align-self: center;
    }
    .carousel-content .content-img{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        /* margin-left: 13%; */
    }
    .carousel-content .content-img img{
        width: 425px;
        height: 390px;
    }

    .carousel-content .content{
        padding:2%;
        width: 100%;
    }

    .content p{
        text-align: center;
        font-size: 1rem;
    }

    .content h3{
        font-size: 1.1rem;
        text-align: center;
    }

    .content .content-btn{
        font-size: 1.1rem;
        margin: 0 auto;
        padding: 1% 2%;
    }

    .main-btns{
        display: flex;
        justify-content: center;
    }

}


/* Categories sections css styling*/

#categories{
    background-color: #068FFF;
    padding: 2% 10%;
    scroll-behavior: smooth;
    padding-top: 4%;
}

.categories{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    padding: 3% 0;
}

#categories h1,#goals h1,#new h1{
    text-align: center;
    margin: 3% 0;
    font-family: 'Karla', sans-serif; 
    font-size: 3rem;
}

.cat{
    background-color: #fff;
    color:#000000;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cat img{
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 8px;
}

.cat::after{
    content: "";
    width: 0;
    height:300px;
    background-color:#fff;
    opacity: 40%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: width 2s;
}

.cat:hover::after{
    z-index:5;
    width: 100%;
}

.cat h2{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Monsterrat';
    font-weight: bold;
    margin: 2% 0;
    color:#000000;
    padding: 2%;
}

.cat .hidden{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat:nth-of-type(4){
    grid-column-start: 1;
    grid-column-end: 3s;
}

.hidden button{
    margin: 3% 0;
    padding: 1.5% 2%;
    width: 85%;
    background-color:#068FFF;
    color: #000000;
    transition: background-color 0.5s;
    border-style: none;
    border-radius: 4px;
}

.hidden button a{
    color: #FFFDE4;
}

.hidden button:hover{
    background-color: #000000;
    color: white;
}


@media screen and (max-width:600px) {
    #categories{
        width: 100%;
    }
    .categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cat{
        margin-top: 5%;
    }
}


/* Goal Section */
#goals{
    padding: 4% 0;
    width: 100%;
    background-color: #000000;
}

#goals h1{
    color: #fff;
}

#goals .main{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main .ourgoal{
    background-color: #068FFF;
    margin: 0 2%;
}

.ourgoal .goal-content img{
    width: 450px;
    height: 320px;
}

.goal-content h3{
   text-align: center;
   font-size: 2.4rem; 
   margin: 2% 0;
   font-family: 'Roboto Slab';
}

.goal-content p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 2%;
    font-family: 'Merriweather';
}

.ourgoal:nth-of-type(3){
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin-top: 2%;
}

.ourgoal:nth-of-type(3) .goal-content:nth-of-type(even){
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ourgoal:nth-of-type(3) .goal-content{
    width: 50%;
}

.ourgoal:nth-of-type(3) .goal-content:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.ourgoal:nth-of-type(3) .goal-content:nth-of-type(1) img{
    width: 700px;
    height: 500px;
}


.goal-content:nth-of-type(even){
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}



@media screen and (max-width:600px){
    #goals{
        margin: 2% 0;
        width: 100%;
    }
    
    #goals .main{
        padding: 5%;
        display: flex;
        flex-direction: column;
    }
    
    .ourgoal{
        margin: 2% 0;
        background-color: #068FFF;
        padding: 4%;
    }
    
    .ourgoal:nth-of-type(3) .goal-content{
        display: flex;
        flex-direction: column;
    }
    
    .ourgoal:nth-of-type(3) .goal-content:nth-of-type(1) img{
        margin: 0 auto;
    }
    
    .goal-content:nth-of-type(even){
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2% 0;
    }
    
    .goal-content img{
        width: 350px;
        height: 300px;
    }
    .ourgoal:nth-of-type(3){
        display: flex;
        flex-direction: column;
    }

    .ourgoal:nth-of-type(3) .goal-content:nth-of-type(1),.ourgoal:nth-of-type(3) .goal-content:nth-of-type(2){
        width: 100%;     
    }

    .ourgoal:nth-of-type(3) .goal-content:nth-of-type(1) img{
        width: 350px;
        height: 240px;     
    }
    .goal-content h3{
        text-align: center;
        font-size: 2rem;
    }
    
    .goal-content p{
        text-align: center;
        font-size: 1.3rem;
    }
}

/* About -section css styling*/
#about{
    margin-bottom: 5%;
    padding: 3% 10%;
}

.about-main{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

.about-content{
    border: 1px solid #068FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.about-content img {
    width: 80%;
    height:570px;
    float: right;
    padding-top: 10%;
    padding-bottom: 10%;
}


.about-main .content{
    padding: 7%;
    background-color:#068FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-main .content p{
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}

.about-main .content h2{
    margin: 3% 0;
}

@media screen and (max-width:600px){
    .about-main{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .about-content, .about-main .content{
        width: 100%;
    }

    .about-content img{
        width: 320px;
        height: 400px;
        margin-left: 0;
    }

}




/* Testimonial */

#testimonial{
    width: 100%;
    padding: 1%;
    padding-top: 5%;
    background-color:#068FFF;
}

#testimonial h1{
    text-align: center;
    margin-top: 3%;
    font-family: 'Monsterrat';
    font-size: 3rem;
    font-weight: bold;
}

.testimonial-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
}

.test-person:nth-of-type(3){
    grid-column-start: 1;
    grid-column-end: 3;
}

.test-person{
    padding: 4%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background-color:azure;
    border-radius: 5px;
    margin: 2%;
}   

.details{
    display: flex;
    justify-content: start;
    align-items: center;
}

.details img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 2%;
}

.details .icon{
    margin-left: auto;
    margin-right: 5%;
    color:crimson;
    font-size: 2rem;
}

.details .rating{
    margin-left: 3%;
}

.rating p{
    margin: 0;
    font-weight: bold;
    font-family: 'Karla', sans-serif; 
    font-size: 1.1rem;
}

.rating i{
    color:#068FFF;
    display: inline-block;
}

.test-des{
    margin-top:3%;
    font-size: 1.1rem;
    color:#000000;
    font-family: 'Roboto Slab';
    font-weight: none;
}

@media screen and (max-width:600px) {

    .testimonial-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}



/* New Arrival */

#new{
    padding: 2%;
}

.new-main{
    margin: 2% 0;
    padding-bottom: 10%;
    width: 100%;
}

.new-item:nth-of-type(odd){
    display: grid;
    grid-template-columns: 54% 40%;
    align-items: center;
    margin: 4% 0;
}

.new-item:nth-of-type(even){
    display: grid;
    grid-template-columns: 40% 54%;
    align-items: center;
    margin: 4% 0;
}


.new-item:nth-of-type(even) .item-img{
    margin-left: 5%;
    background-color: #000000;
}


.new-item:nth-of-type(odd) .item-img{
    margin-right: 5%;
    background-color: #000000;
}

.item-img img{
    width: 100%;
    height: 500px;
    padding: 1% 8%;
}

.new-item:nth-of-type(odd) .features{
    margin-left: -15%;
    position: relative;
    z-index: 12;
}

.new-item:nth-of-type(even) .features{
    margin-right: -15%;
    position: relative;
    z-index:12;
}

.features{
    background-color: #068FFF;
    display: inline-block;
    padding: 10%;
    color:azure;
}


.features h2{
    margin-bottom: 2%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto Slab';
}

.features h4{
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Monsterrat';
}

.features p{
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 1.3rem;
}

.feature-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-btn button{
    padding: 2% 4%;
    margin-right: 2%;
    text-align: center;
    font-family: 'Kavala',sans-serif;
    background-color: #000000;
    color:#fff;
    border-radius: 5px;
}

.feature-btn button a{
    color: #fff;
}


@media screen and (max-width:600px) {
    .new-item:nth-of-type(odd),.new-item:nth-of-type(even){
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .new-item:nth-of-type(even){
        flex-direction: column-reverse;
    }

    .new-item:nth-of-type(even) .features, .new-item:nth-of-type(odd) .features{
        margin-left: 0;
        margin-right: 0;
    }

    .new-item:nth-of-type(even) .item-img, .new-item:nth-of-type(odd) .item-img{
        margin: 0;
    }

    
}

.footer {
    background-color:#068FFF;
    color: #fff;
    padding-top:20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo h3 {
    max-width: 350px;
    height: auto;
}

.footer-links{
    width: 50%;
}


.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

.footer-links a:hover {
    color:#000000;
}

.footer-bottom {
    text-align: center;
    background-color:#000000;
    padding: 10px 0;
}





